<div class="social-channel-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Social Media</h3>
        </div>
        <div class="list-group">
            <a href="https://www.facebook.com/" class="list-group-item" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>

            <a href="https://twitter.com/" class="list-group-item" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
            
            <a href="https://www.youtube.com/" class="list-group-item" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a>
        </div>
    </div>
</div>
